{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main min-height-main">
            <h3>About</h3>

            <p>This is the milestone project for the “Practical Python” stream, part of the New LMS in the “Full Stack Web Development Course” offered by Code Institute.</p>
            <p>This is a guessing game, which will be part of my portfolio.</p>
            <p></p>

            <h3>Credits</h3>
            <p>I am very grateful to <strong>Marcus Connor</strong> of <a href="http://www.brainlesstales.com" target="_blank"><strong>Brainless Tales</strong></a>
            for the permission to use his images for this game. <br>
            One can read more about Marcus' work in the <a href="http://www.brainlesstales.com" target="_blank"><strong>About page of his website</strong></a>. You can also see the 9 years' worth of daily pictures as well as visit his <a href="http://www.brainlesstales.com/store"><strong>store</strong></a>.</p>

            <h3>Playing the Game - Instructions</h3>

            <p>After logging in or registering you are taken to the user page. If you have navigated elsewhere you need to return to the user page. (Note the user page is not available in the navigation if you are not logged in.)</p>
            <p>From the User page you can start a new game. Press the "Play a game" button.</p>
            <img class="img-responsive" src="/static/img/playGameBtn.png" alt="play game button image"></img>

            <h3>Features</h3>
            <ul>
                <li>Game Logic - allows three attempts with each attempt giving more clues.</li>
                <li>registration and login</li>
                <li>When registering, checking if username is not already in use</li>
                <li>username -  keeps track of all played games, points gained and date</li>
                <li>keeps track of logged in users incase someone tries to log in from a different device</li>
                <li>The navigation will automatically hide the link for the current page of for any links that are not available. Ex. If you are not logged in, you cannot access the user page.</li>
                <li>hall of fame - single game - all games</li>
                <li>contact form</li>
                <li>Interactive logo built using p5.js.</li>
            </ul>

            <h3>Technologies Used</h3>
            <ul>
                <li><strong>HTML 5</strong> - general coding of pages content. </li>
                <li><strong>CSS 3</strong> - specific and custom styling of the game. </li>
                <li><strong>Bootstrap 3</strong> - layout of pages and basic styling.</li>
                <li><strong>javascript</strong> - for <em>p5.js</em>.
                    </li>
                <li><strong>p5.js</strong> - controls interactivity of the logo image.</li>
                <li><strong>Python</strong> - for back end.</li>
                <li><strong>Flask</strong> - Back end framework.</li>
                <li><strong>flask_mail</strong> - to enable contact form.</li>
                <li><strong>json</strong> - to hold data.</li>
                <li><strong>jinja2</strong> - for templating the various pages.</li>
                <li><strong>fontawesome</strong> - icons for github and linkedin.</li>
                <li><strong>SVG</strong> - This was used to build the logo image. From this png files (with transparent background for the !) where produced.</li>
            </ul>

            <h3>Known Limitations</h3>
            <p>Not using a password. Another person can use the same username that has already been registered.</p>
            <p>When Heroku sleeps, it will erase all new registrations, games played and hall of fame entries and reverts back to the state of when the game was deployed.</p>
            

        </div>
            
 
    </div>
{% endblock %}