{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main min-height-main">
            <h3>About</h3>
            <p>This is a guessing game, which will be part of my protfolio.</p>
            <p>This will be the about page.</p>

            <p>This change is to test working with branches. I am doing this change on a feature branch. I want to be able to pull it to the dev branch. From there I want to pull it from the local branch and the the master branch. The master branch will then be pushed to heroku without having to mess up with the configuration.</p>
        </div>
    </div>
{% endblock %}