{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 main min-height-main">
            <h3>Contact</h3>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>Want to get in touch?<br>
                        Found anything wrong in the game? <br>
                        Have suggestions for improvement?<br>
                        Please fill out the form below to send me a message.<br>
                        Thanks.</p>
                    <hr>
                    <form action='/contact' method="POST" name="sentMessage" id="contactForm" data-toggle="validator">
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="name" id="nameLabel">Name</label>
                                <input type="text" class="form-control" placeholder="Type your name here please." name="name" id="name" required data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="email" id="emailLabel">Email Address</label>
                                <input type="email" class="form-control" placeholder="example@example.com" name="email" id="email" required data-validation-required-message="Please enter your email address." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="subject" id="subjectLabel">Subject</label>
                                <input type="text" class="form-control" placeholder="Type a subject for this message." name="subject" id="subject" required data-validation-required-message="Please enter a subject for this message." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group controls">
                                <label for="message" id="messageLabel">Message</label>
                                <textarea rows="5" class="form-control" placeholder="Please write your message here. . ." name="message" id="message" required data-validation-required-message="Please enter a message." minlength="3"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn center-block my_btn_color" id="sendMessageButton">Send Message</button>
                            <!-- <button type="submit" class="btn btn-primary center-block" id="sendMessageButton">Send Message</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}