{% extends 'base.html' %}
{% block content %}
    <div class="row main">
        <div class="col-md-6  min-height-main">
            <div class="row">
                <div class="col-md-6"><h3 class="game_title">{{ thisUser["username"] }}</h3></div>
                <div class="col-md-6"><p class="game_text">Riddle {{ thisUser['game']['riddle_counter'] + 1 }} of 10</p></div>
            </div>
            <div class="list_games game_image">
                <img class="img-responsive" src="/static/img/{{ thisUser['game']['current_riddle'][1] }}" alt="riddle image"></img>
            </div>
            <div class="game_instruction">
                <p>What do you think this picture represents?<br>
                    Type your answer and press Submit button. Otherwise Pass.</p>
            </div>
        </div>
        
        <!-- Needed in the pages which split in two columns -->
        <div class="col-md-6  min-height-main">
            <div class="row">
                <div class="col col-md-10 col-md-offset-1">
                    <p class="game_text">Points: {{ thisUser['points_this_game'] }}</p>
                    <p class="game_text
                    {% if thisUser['game']['attempt'] > 1 %} red {% endif %}">
                    {% if thisUser['game']['attempt'] == 1 %}First 
                    {% elif thisUser['game']['attempt'] == 2 %}Second 
                    {% elif thisUser['game']['attempt'] == 3 %}Third 
                    {% endif %} attempt: {{ thisUser['game']['points'] }} points</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-10 col-md-offset-1">
                    <form class="play_game 
                    {% if thisUser['game']['attempt'] > 1 %} red {% endif %}" 
                    method="POST" action="{{ url_for('game', currentUser=thisUser['username']) }}">
                        <div class="form-group">
                            {% if thisUser['game']['attempt'] == 1 %}
                            <div class="row text-area">
                                <textarea class="form-control" name="answer_text" rows="10" id="answer_block" placeholder="type your answer here"></textarea>
                            </div>
                            {% elif thisUser['game']['attempt'] == 2 %}
                                <div class="row text-area">
                                    {% set words =  thisUser['game']['current_riddle'][2].split() %}
                                    {% set word_count = words|count %}
                                    {% for word in words %}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-3"><label>Word {{ loop.index }}</label></div>
                                            <div class="col-xs-10 col-sm-9">
                                                <textarea class="form-control" name="answer_text{{ loop.index }}" rows="1" id="answer_block{{ loop.index }}" placeholder="type word {{ loop.index }} here"></textarea>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row 
                                        {% if word_count == 1 %} bottom-1
                                        {% elif word_count == 2 %} bottom-2
                                        {% elif word_count == 3 %} bottom-3
                                        {% elif word_count == 4 %} bottom-4 {% endif %}">
                                        <div class="red yellow-bg">
                                            <p>First WRONG answer: {{ thisUser['game']['wrong_answers'][0] }}</p>
                                        </div>
                                        <p>The answer for this riddle has {{ word_count }} 
                                        {% if (word_count) == 1 %}
                                            word.
                                        {% elif (word_count) > 1 %}
                                            words.
                                        {% endif %}</p>
                                    </div>
                                </div>
                            {% elif thisUser['game']['attempt'] == 3 %}
                                <div class="row text-area">
                                    {% set words =  thisUser['game']['current_riddle'][2].split() %}
                                    {% set word_count = words|count %}
                                    {% for word in words %}
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-3"><label>Word {{ loop.index }}</label></div>
                                            <div class="col-xs-7 col-sm-6">
                                                <textarea class="form-control" name="answer_text{{ loop.index }}" rows="1" id="answer_block{{ loop.index }}" placeholder="type word {{ loop.index }} here"></textarea>
                                            </div>
                                            <div class="col-xs-3 col-sm-3"><label>
                                                {% set length = word|length %}
                                                {{ length }} 
                                                {% if length == 1 %}
                                                    letter.
                                                {% else %}
                                                    letters.
                                                {% endif %}
                                            </label></div>
                                        </div>
                                    {% endfor %}
                                    <div class="row 
                                        {% if word_count == 1 %} bottom-1
                                        {% elif word_count == 2 %} bottom-2
                                        {% elif word_count == 3 %} bottom-3
                                        {% elif word_count == 4 %} bottom-4 {% endif %}">
                                        <div class="red yellow-bg">
                                            <p>First WRONG answer: {{ thisUser['game']['wrong_answers'][0] }}</p>
                                            <p>Second WRONG answer: {{ thisUser['game']['wrong_answers'][1] }}</p>
                                        </div>
                                        <p>The answer for this riddle has {{ word_count }} 
                                        {% if (word_count) == 1 %}
                                            word.
                                        {% elif (word_count) > 1 %}
                                            words.
                                        {% endif %} <br>See the indicated number of letters.</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <button type="submit" class="btn form-align my_btn_color btn-answer-width" name="answer_btn" type="submit" value="answer" >Submit Answer</button>
                                <button type="submit" class="btn form-align my_btn_color btn-pass-width" name="pass_btn" type="submit" value="pass">Pass</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}