{% extends 'base.html' %}
{% block content %}
    <div class="row main">
        <div class="row">
            <div class="col-md-6">
                <h3>Hall of Fame</h3>
                <p>This hall of fame shows two lists. One for the top 10 individual games and the other for the top 10 users 
                    with the top total marks.</p>
                <p>Please note that most recent marks will take precedence in case the lists fill up with the 
                    identical amounts.</p>
            </div>
            
            {% if thisUser["is_logged"] %}
                <div class="col-md-6">
                    <h3>Welcome {{ thisUser["username"] }}</h3>
                </div>
            {% endif %}
            {% if not thisUser["is_logged"] %}
                <div class="col-md-6">
                    <p><br></p>
                    <p>Log in if you would like to play</p>
                    <p>Registration is free.</p>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6  min-height-main">
            <h3>Individual Games</h3>
            <div class="list_games table-responsive">
                <table class="table table-condensed table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank</td>
                            <th scope="col">Date</td>
                            <th scope="col">User</td>
                            <th scope="col">Points</td>
                        </tr>
                        <tbody>
                            {% for item in best_individual_games %}
                                <tr>
                                    <th scope="row">{{ item[0] }}</td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
        <!-- Needed in the pages which split in two columns -->
        <div class="col-md-6 min-height-main">
            <h3>All Games Played - Rank according to total points</h3>
            <div class="list_games table-responsive">
                <table class="table table-condensed table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Rank</td>
                            <th scope="col">User</td>
                            <th scope="col">Points</td>
                            <th scope="col">Games Played</td>
                        </tr>
                    </thead>
                    <tbody>
                            {% for item in best_all_games %}
                                <tr>
                                    <th scope="row">{{ item[0] }}</td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div> 
    </div>
{% endblock %}